.column-page{
    margin: 56px 160px 64px 160px;
    .wrapper-recommend{
        display: flex;
        justify-content: space-between;
        margin: 0 0 56px 0;
    
        &-item{
            width: 216px;
            height: 144px;
            background-color: #2E2E2E;
            text-align: center;
            margin: 0 16px;
            &:first-child{
                margin-left: 0 !important;
            }
            &:last-child{
                margin-right: 0 !important;
            }
            &_title{
                color: #FFCC21;
                // font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                letter-spacing: 0.11px;
                // margin-bottom: 10px;
                margin-top: 24px;
            }
            &_line{
                margin: 0 80px 10px 80px;
                opacity: 1 !important;
            }
            &_label{
                color: white;
                font-weight: 300;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
    
    .wrapper-post{
        // padding-bottom: 64px;
        &-line{
            margin-bottom: 18px;
            margin-left: 0;
            margin-right: 0;
        }
        &_item{
            
            .wrapper-post_img{
                position: relative;
                margin-bottom: 8px;
                // width: 234px;
                height: 144.47px;
                margin-right: 8px;
                &:nth-child(2n+4){
                    margin-right: 0 !important;
                }
    
                img{
                    width: 100%;
                    height: 100%;
                }
                .img-time{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: #FFCC21;
                    width: 144px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    *{
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 30px;
                    }
                }
            }
    
            .post_item-description{
                font-family: 'Hiragino Kaku Gothic Pro';
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: 0.075px;
                margin: 0 !important;
            }
    
            .post_item-tag{
                font-family: 'Hiragino Kaku Gothic Pro';
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 22px;
                letter-spacing: 0.06px;
                color: #FF963C;
                margin-right: 8px;
            }
        }
    }
    
    .wrapper-read-more{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 26px;
        .btn-more{
            background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
            text-align: center;
            width: 296px;
            height: 56px;
            span{
                color: white;
                font-family: 'Hiragino Kaku Gothic Pro';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
}
