@import 'styles/index.css';

html{
    position:relative; 
    min-height: 100%;
}
body{
    /* overflow: hidden; */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
/* .App{
    margin: 0 160px 64px 160px;
} */